@page "/SecretaryTeacher"

<head>
    <link rel="stylesheet" href="css/overallTheme.css">
</head>

<div class="blue-border container">
    <br>
    <div class="row">
        <div class="col">
            <h3 class="center-horiz">Create Teacher</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3 center-horiz form-group">
            <label for="fname">First name:</label>
            <input type="text" class="form-control" id="fname" placeholder="Adam">
        </div>
        <div class="col-3 center-horiz form-group">
            <label for="lname">Last name:</label>
            <input type="text" class="form-control" id="lname" placeholder="Adam">
        </div>
        <div class="col-3 center-horiz form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="adam_smith@mail.com">
        </div>
        <div class="col-3 center-horiz form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="********">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col center-horiz">
            <button class="btn btn-default btn-success">Create Teacher</button>
        </div>
    </div>
    <br>
</div>

<div class="container blue-border" style="margin-top: 3em">
    <br>
    <div class="row">
        <div class="col">
            <h3 class="center-horiz">Edit Teacher</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col center-horiz">
            <label for="selectTeacher">Select Teacher:</label>
            <select id="selectTeacher"></select>
            <button class="btn btn-default btn-danger" style="margin-left: 1em">Delete Teacher</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3 center-horiz form-group">
            <label for="fname2">First name:</label>
            <input type="text" class="form-control" id="fname2" placeholder="Adam">
        </div>
        <div class="col-3 center-horiz form-group">
            <label for="lname2">Last name:</label>
            <input type="text" class="form-control" id="lname2" placeholder="Adam">
        </div>
        <div class="col-3 center-horiz form-group">
            <label for="email2">Email:</label>
            <input type="email" class="form-control" id="email2" placeholder="adam_smith@mail.com">
        </div>
        <div class="col-3 center-horiz form-group">
            <label for="password2">Password:</label>
            <input type="password" class="form-control" id="password2" placeholder="********">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col center-horiz">
            <button class="btn btn-default btn-primary">Edit Teacher</button>
        </div>
    </div>
    <br>
</div>

@code {

}